<div class="questions-container">
    <div class="questions-title">
        <h1>Avaliação: {{avaliacao}}</h1>
    </div>
    <form method="post" action="/results">
        <input type="text" class="form-group" style="display:none" name="Avaliação" value="{{avaliacao}}" required disabled></input><br><br>
        <div class='form-control'>
            <label for='email'>Nome do Aluno</label>
            <input type="text" name="nome_aluno" required></input><br><br>
        </div>
        {{#each perguntas}}
            <h1>{{pergunta}}</h1>
            {{#each opcoes}}
                <input type="radio" name="resposta_{{../id}}" value="{{letra}}"> {{resposta}}<br>
            {{/each}}
            <input type="hidden" name="resposta_correta_{{id}}" value="{{resposta_correta}}"></input>
        {{/each}}
        <input type="submit" value="Entregar Teste">
    </form>
</div>